.messages{
     position: absolute;
     width: 90%;
     height: 95%;
     left: 5%;
     background-color: rgb(131, 203, 224);
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     z-index: 3;
     animation-name: slideMessagesDown;
     animation-duration: .3s;
     animation-timing-function: ease-in-out;
 }
    .messagesSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 39%;
        height: 90%;
        border-right: 1px solid gray;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .2);

    }
        .messageSection h3{
            display: flex;
            width: 100%;
            height: 20%
        }
        .messageListContainer{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 80%;
            overflow-y: scroll;
        }
            .individualMessageContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 80px;
                border-bottom: 1px solid gray;
            }
            .msgImageContainer{
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .msgImage{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .msgMain{
                    width: 80%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
                    .msgName{
                        width: 100%;
                        height: 40%;
                        display: flex;
                        align-items: center;
                        color: black;
                    }
                    .msgPreview{
                        height: 60%;
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        margin-top: 10px;
                    }
    .conversationsSection{
        display: flex;
        justify-content: center;
        width: 60%;
        height: 90%;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 10px;
        position: relative;
    }
        .messagingForm{
            position: absolute;
            bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
        }
            .messagingForm button{
                border: 1px solid black;
            }
            .messagingInput{
                background-color: rgba(0, 0, 0, 0);
                border-radius: 10px;
                height: 100%;
                width: 50%;
                border: 1px solid gray;

            }
 .slidemessagesuparrow{
     position: absolute;
     bottom: 2px;
     left: 48%;
     transition-duration: .5s;
 }
    .slidemessagesuparrow:hover{
        transition-duration: .5s;
        color: black;
    }

.closing{
    animation-name: closing;
    animation-duration: .8s;
}

@keyframes slideMessagesUp {
    from {
        height: 95%
    }
    to {
        height: 5%;
    }
}

 @keyframes slideMessagesDown {
    from {
        height: 5%
    }

    to {
        height: 95%;
    }
}