.messages{
     position: absolute;
     width: 80%;
     height: 95%;
     left: 10%;
     background-color: rgb(131, 203, 224);
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     z-index: 3;
     animation-name: slideMessagesDown;
     animation-duration: .3s;
     animation-timing-function: ease-in-out;
 }
    .messagesSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 39%;
        border-right: .4px solid gray;
        height: 90%;

    }
        .messageSection h3{
            display: flex;
            width: 100%;
            height: 20%
        }
        .messageListContainer{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 80%;
            overflow-y: scroll;
        }
            .individualMessageContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border: 1px solid black;
                height: 80px;
            }
            .individualMessageContainer img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
    .conversationsSection{
        display: flex;
        justify-content: center;
        width: 60%;
        height: 90%;
    }
 .slidemessagesuparrow{
     position: absolute;
     bottom: 2px;
     left: 48%;
     transition-duration: .5s;
 }
    .slidemessagesuparrow:hover{
        transition-duration: .5s;
        color: black;
    }

.closing{
    animation-name: closing;
    animation-duration: .8s;
}

@keyframes slideMessagesUp {
    from {
        height: 95%
    }
    to {
        height: 5%;
    }
}

 @keyframes slideMessagesDown {
    from {
        height: 5%
    }

    to {
        height: 95%;
    }
}